<main>
    <h1>My games</h1>
    {{#if hasGames}}
    {{#each games}}
    <div class="grid">
        <article class="card">
            <header class="card__header">
                <h1>{{this.title}}</h1>
            </header>
            <div class="card__content">
                <h2>{{this.releaseYear}}</h2>
                <p>{{this.platform}}</p>
            </div>
        </article>
    </div>
    {{/each}}
    {{ else}}
    <h2>No games found.</h2>
    {{/if}}
</main>