* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  main {
    padding: 1rem;
  }

  .main-header {
    width: 100%;
    height: 6rem;
    background-color: darkred;
    padding: 0 2rem;
  }

  .main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .main-header__item-list {
    list-style: none;
    display: flex;
  }
  .main-header__item {
    margin: 0 0.5rem;
  }
  .main-header__item a {
    color: white;
  }

  .main-header__item a:hover,
  .main-header__item a:active,
  .main-header__item a.active {
    color: tomato;
  }

  a {
    text-decoration: none;
  }
  .form-control {
    margin: 1rem 0;
    width: 100%;
  }

  .game-form {
    width: 25rem;
    max-width: 80%;
    margin: auto;
  }

  .form-control label,
  .form-control input {
    display: block;
  }

  .form-control input {
    border: 1px solid darkred;
    border-radius: 2px;
    padding: 0.2rem;
    width: 100%;
    margin: 0.5rem 0;
  }

  button {
    cursor: pointer;
    border: 1px solid darkred;
    color: darkred;
    background-color: white;
    border-radius: 2px;
    padding: 0.2rem 0.5rem;
    margin-top: 1rem;
  }

  button:hover {
    color: white;
    background-color: tomato;
  }